<section class="slider">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/COLORS-shop/assets/images/slider1.png" alt="Краска" class="slider__image" />
                <div class="slider__breadcrumbs">
                    <span>Главная</span>
                    <span class="slider__dot">•</span>
                    <span>Продукты</span>
                    <span class="slider__dot">•</span>
                    <span>Краски</span>
                </div>
                <div class="slider__content">
                    <h2 class="slider__title">Краски</h2>
                    <p class="slider__text">Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/COLORS-shop/assets/images/slider1.png" alt="Краска" class="slider__image" />
                <div class="slider__breadcrumbs">
                    <span>Главная</span>
                    <span class="slider__dot">•</span>
                    <span>Продукты</span>
                    <span class="slider__dot">•</span>
                    <span>Краски</span>
                </div>
                <div class="slider__content">
                    <h2 class="slider__title">Краски</h2>
                    <p class="slider__text">Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/COLORS-shop/assets/images/slider1.png" alt="Краска" class="slider__image" />
                <div class="slider__breadcrumbs">
                    <span>Главная</span>
                    <span class="slider__dot">•</span>
                    <span>Продукты</span>
                    <span class="slider__dot">•</span>
                    <span>Краски</span>
                </div>
                <div class="slider__breadcrumbs">
                    <span>Главная</span>
                    <span class="slider__dot">•</span>
                    <span>Продукты</span>
                    <span class="slider__dot">•</span>
                    <span>Краски</span>
                </div>
                <div class="slider__content">
                    <h2 class="slider__title">Краски</h2>
                    <p class="slider__text">Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/COLORS-shop/assets/images/slider1.png" alt="Краска" class="slider__image" />
                <div class="slider__breadcrumbs">
                    <span>Главная</span>
                    <span class="slider__dot">•</span>
                    <span>Продукты</span>
                    <span class="slider__dot">•</span>
                    <span>Краски</span>
                </div>
                <div class="slider__content">
                    <h2 class="slider__title">Краски</h2>
                    <p class="slider__text">Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/COLORS-shop/assets/images/slider1.png" alt="Краска" class="slider__image" />
                <div class="slider__breadcrumbs">
                    <span>Главная</span>
                    <span class="slider__dot">•</span>
                    <span>Продукты</span>
                    <span class="slider__dot">•</span>
                    <span>Краски</span>
                </div>
                <div class="slider__content">
                    <h2 class="slider__title">Краски</h2>
                    <p class="slider__text">Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!</p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
